.brand-phrase {
    color: white;
    font-size: 2rem;
    padding: 1rem 0 .8rem;
}

.quote-phrase, .quote-owner {
    color: white;
    font-weight: 500;
}

.main-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../stars-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 300px;
    text-align: center;
    padding: 35vh 1em 0;
}

.main-header-content {
    display: flex;
    height: 100%;
}

.main-header-side-content,
.main-header-container {
    flex: 1 50%;
    height: 50%;
    text-align: left;
}

.main-header-side-content {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.main-header-container {
    text-align: left;
    float: left;
}

.mrp {
    color: #28f;
    font-size: 2.5rem;
}

.splitter {
    font-size: 2.5rem;
}

.header-technologies {
    color: #C9C9C9;
    font-size: 2.5rem;
}
/* Media Queries */

@media only screen and (orientation: landscape) {
    .main-header {
        min-height: 500px;
        padding-top: 35vh;
    }
}

@media only screen and (min-width: 600px) {
    .main-header {
        padding: 24em 2em 0;
    }

    .main-header-container {
        flex: 1 50%;
        margin: 0 auto;
        max-width: 500px;
    }

    .nav-container {
        padding: 0;
    }
}

@media only screen and (min-width: 750px) {
    .main-header h1 {
        margin: 0;
    }

    .main-header {
        padding: 10rem 6em 0;
    }

    .main-header-container {
        justify-content: space-around;
        margin: 0 auto;
        max-width: 1040px;
        text-align: left;
    }

    
}