.nav-container {
    position: fixed;
    background: rgba(21, 31, 33, 0.7);
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid white;
}

.brand {
    display: grid;
    height: 100%;
    width: 20%;
    font-size: 2rem;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    padding: .1rem 0 0 4rem;
    /* font-weight: bold; */
    letter-spacing: .1rem;
}
        .brand:hover {
            text-shadow: 2px 2px 15px #1880F8;
        }

.brand-link {
    text-decoration: none;
}

.brand-left {
    color: rgb(0, 128, 248);
}

.brand-split {
    color: white;
}

.brand-right {
    color: rgb(201, 201, 201);
}

.link-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    text-align: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #e0e0e0;
    width: 10px;
}
        .link:hover {
            color: white;
        }