/* Main Header Content */
.main {
    height: 100vh;
}

.main-header-container {
    display: flex;
    grid-gap: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../stars-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 300px;
    padding: 25vh 2.5em 0;
}

.main-header-content {
    display: grid;
    text-align: left;
    height: 20vh;
    width: 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.mrp {
    color: #28f;
    font-size: 2rem;
}

.splitter {
    font-size: 2.1rem;
}

.header-technologies {
    color: #C9C9C9;
    font-size: 2rem;
}

.brand-phrase {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 0 1rem;
}

.brand-title {
    padding-top: 1rem;
    margin: 0;
    font-weight: bold;
}

.quote-phrase {
    display: grid;
    width: 100%;
    color: #c9c9c9;
    font-weight: bold;
    padding: .5rem 0 .1rem;
}

.quote-owner {
    color: #c9c9c9;
    font-weight: bold;
}

/* Main Header Side Content */
.main-header-side-content {
    display: grid;
    text-align: center;
    height: 40vh;
    border-radius: 20px;
    width: 50%;
    background: rgba(0, 0, 0, 0.4);
    grid-template-rows: 1fr 1fr;
}
        .main-header-side-content h3 {
            font-size: 1.5rem;
            padding: 2rem 3rem;
        }

.btn-container {
    display: grid;
    min-height: 100%;
    min-width: 100%;
    margin: 0 auto;
    padding: 25px 80px;
}
.contact-me-btn {
    display: block;
    padding: 2% 0;
    min-width: 100%;
    border-radius: 10px;
    border: 1px solid #1880b4;
    background-color: rgba(0,0,0,0.1);
    color: #1880b4;
    transition: var(--transition-speed);
}
        .contact-me-btn:hover {
            background-color: #1880b4;
            color: white;
            transition: var(--transition-speed);
        }

/* Media Queries */

/* Slightly Smaller-than-desktop Screens */
@media only screen and (max-width: 1200px) {
    .main-header-container {
        padding: 5vh 1.5em 0;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .main-header-content {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 40%;
        width: 90vw;
        text-align: center;
    }

    .brand-phrase {
        font-size: 1.7rem;
    }

    .main-header-side-content {
        grid-template-rows: 1fr 1fr;
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
            .btn-container {
                padding: 15% 20%;
                margin: 0 auto;
            }

            .contact-me-btn {
                height: 100%;

            }
    
    .main-header-side-content h3 {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 812px) {
    .main-header-side-content{
        height: 25vh;
    }
            .main-header-side-content h3 {
                padding: 1rem 2rem;
            }

    .btn-container {
        padding: 20% 25%;
    }
}